@use '@angular/material' as mat;
@import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.css';

* {
  margin: 0;
  padding: 0;
}

:root {
  @include mat.snack-bar-overrides(
    (
      container-color: #3F51B5,
      button-color: #3F51B5,
    )
  );
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
