:host{
    flex: 1;
    display: flex;
}

.sign{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    & form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: max-content;
    }
}

.alert{
    color: red;
    text-align: center;
    margin: 1rem;
}