:host{
    margin:1rem;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-content{
    margin: 1rem;
}
mat-card-header{
    margin: 1rem;
}
img{
  margin: 1rem;
}