:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
}

.search {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

button{
   margin-right: 1rem;
}

mat-icon{
  cursor: pointer;
}

// .active {
//     background-color: var(--primary);
// }

// tr:not(:last-child[mat-header-row]):hover {
//     background-color: #b7b7b7;
//     cursor: pointer;
// }
