:host{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

// .active {
//     background-color: var(--primary);
// }

// tr:not(:last-child[mat-header-row]):hover {
//     background-color: #b7b7b7;
//     cursor: pointer;
// }