:host{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.userCard{
    align-self: start;
    max-width: 300px;
}

.messagesFeed{
    max-width: 700px;
}