mat-toolbar{
    display: flex;
    justify-content: space-between;
}

mat-icon{
   margin-right: 0.5rem !important;
}

button{
    margin-right: 0.5rem;
}
.active{
//    text-decoration: underline;
   border: 1px solid white;
}